<div *ngIf="errorLoadingProfile === true" class="row text-center">
  <div class="logo">Error Loading Profile...</div>
</div>

<div *ngIf="loadingProfile === false && errorLoadingProfile === false">

  <div class="clearfix">

    <div class="row">

      <!-- EDIT BUTTON SECTION -->
      <div class="col-md-12 mt-5">
        <div class="pull-right">
          <h4 routerLink="/profile/edit">
            <!-- <i class="fa fa-pencil append-icon"></i> -->
            <button mat-mini-fab aria-label="Edit">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
          </h4>
        </div>
      </div>

      <!-- LEFT SIDE PANEL -->
      <div class="col-sm-12">

        <!-- IMAGE -->
        <div class="row">
          <div class="col-sm-12 text-center push-down-20">
            <img class="user-image img-thumbnail" alt="profile image" [src]="getProfilePicture()">
          </div>
        </div>

      </div>

      <div class="col-sm-12 col-sm-offset-0 text-center">
        <div class="col-sm-12 push-down-20">
          <h5>
            {{profile.display_name}} - 
            <span class="fa fa-map-marker">
              <i style="padding-right: 10px;"></i>{{getLocation()}}
            </span>
          </h5>
        </div>
      </div>

      <!-- RIGHT MAIN SIDE PANEL -->
      <div class="col-sm-8 col-sm-offset-2">
        <app-person-information-list [personal_information]="getPersonalInformationList()"></app-person-information-list>
      </div>

    </div>

  </div>

</div>