<div class="col-xs-12">
  <div class="row text-center ">

    <div class="col-xs-12 push-down-20">
      <img class="img-thumbnail user-image" alt="profile image" [src]="profile_image">
    </div>

    <div class="col-xs-12">
      <button mat-stroked-button (click)="clickImageInput()">
        <mat-icon aria-label="Update Image">folder</mat-icon>
        Update Image
      </button>
    </div>

  </div>

  <div class="row text-center">
    <input #imageInput class="form-control hidden" id="file-upload" type="file" accept="image/*" (change)="processImageChange(imageInput)">
  </div>
</div>